body{
    margin: 0;
    font-family: Arial,sans-serif;
    background-color: #f4f6f8;
    color: #333;
}
header {
    background-color: #2c3e50;
    padding: 15px;
    text-align: center;
}
header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
}
main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
h1,h2 {
    color: #2c3e50;
}
p {
    line-height: 1.8;
}
img {
    max-width: 50%;
    border-radius: 8px;
}
/*Gallery*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
}
/*form*/
form input[type="text"],
form input[type="email"],
form textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}
.option group label{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}
.option group input{
    margin-right: 8px;
}
button {
    background-color: #2c3e50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*bonus*/
.stars {
    font-size: 28px;
    color: gold;
    text-align: center;
}
.search box input {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #2c3e50;
    color: white;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
}
